.tool-information {
  max-width: 80%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#tool-info-section {
  display: flex;
  justify-content: center;
  padding: 24px;
  position: relative;
}

#tool-information_header {
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

#tool-information_header #header-price {
  position: absolute;
  top: 50%;
  left: 93%;
  transform: translateY(-50%);
}

.back-btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #673ab7;
  font-size: 1.5em;
  font-weight: 900;
  text-transform: capitalize;
}

.tool-information_img {
  max-width: 400px;
}

.tool-information_description {
  width: 40%;
}

@media screen and (max-width: 768px) {

  .tool-information_img {
    max-width: 100%;
  }

  #tool-information_header #header-price {
    position: relative;
    top: 0;
    left: 0;
    transform: translateY(0);
  }
}