<div id="tool-info-section">
  <div class="back-btn">
    <span (click)="location.back()">
      <fa-icon [icon]="icon" />
    </span>
  </div>

  <mat-card class="tool-information" *ngIf="fetched">
    <mat-card-header id="tool-information_header">
      <mat-card-title>{{ tool.name }}</mat-card-title>
      <mat-card-subtitle>{{ tool.category }}</mat-card-subtitle>
      <h2 id="header-price">{{ tool.price }}$</h2>
    </mat-card-header>
    <img mat-card-image src="{{tool.image}}" alt="{{tool.name}}" class="tool-information_img">
    <mat-card-content class="tool-information_description">
      <mat-card-title>Description</mat-card-title>
      {{tool.description}}
      <div class="buttons-container">
        <button mat-raised-button color="primary" type="submit" class="btn btn-success"
        [disabled]="true">Add Cart!</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>