.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  padding: 16px 16px 0;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.cards-img {
  aspect-ratio: 2/1;
  height: 200px;
  border-radius: 12px;
}

.more-button {
  z-index: 20;
}

.mat-mdc-card-header {
  padding: 0;
}
